@using System.Web.Mvc.Html
@using Umbraco.Web
@using CWSStart.Web.Controllers
@using CWSStart.Web.Models
@model ForgottenPasswordViewModel

@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@if (Convert.ToBoolean(TempData["IsSuccessful"]))
{
    <div class="alert alert-success">
        <h4>Password Request Received</h4>
        <p>Your request has been received. An Administrator will send you a Password Reminder email within 24 hours.</p>
    </div>
}
else
{
    using (Html.BeginUmbracoForm<AuthSurfaceController>("HandleForgottenPassword"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <div class="form-group">
                @Html.LabelFor(model => model.EmailAddress, new { @class = "control-label"})
                @Html.TextBoxFor(model => model.EmailAddress, new {@class = "form-control", placeholder = "Email Address"})
                @Html.ValidationMessageFor(model => model.EmailAddress, string.Empty, new { @class= "help-block" })
            </div>
            
            <button type="submit" class="btn btn-default">Send</button>

        </fieldset>
    }
}